.App {
  text-align: center;
}

.logo {
  margin: 7em 0 7em 0;
}

.bold-text {
  font-size: 3em;
  font-weight: bolder;
}

.content-text {
  font-size: 3em;
  margin: 0 7em 0 7em;
}

.main-image {
  height: 20em;
  margin-top: 3em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
